html {
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow-y: scroll;
  background-color: offwhite;
}

/* MAIN component */
  #title {
    color: red;
    display: block;
    margin:50px auto;
    text-align: center;
    a {
      text-decoration: none;
      font-size: 40px;
      font-family: 'Euphoria Script', cursive;
    }
  }

/* ALLPHOTOS */
  .all-photos {
    max-width: 100%;
    margin: 2em auto;
    text-align: center;
  }

  /* INTRO paragraph */
    #intro {
      width: 30%;
      margin: 0 auto;
      text-align: center;
      padding-top: 5em;
      padding-bottom: 5em;
      font-family: monospace;
    }

/* PHOTO */
  .grid-fig-wrapper {

  }

  .grid-figure {
    display: inline-block;
  }

  .grid-photo-wrap {
    display: inline-block;
  }

  .grid-photo {
    height: 293px;
    width: 293px;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    border: .01em solid grey;
    border-radius: 10px;
  }

  .fig-caption {

  }

  .speech-bubble {
    margin: .5em;
  }

/* SINGLE PHOTO */

.single-photo {
  text-align: center;
}

.comment-div {
  font-size: .9em;
  display: inline-block;
  padding: 1em 1em;
}

.comment-form {
  display: inline-block;
}

button.remove-content {
  margin-left:7px;
}

/* FOOTER */
  footer {
    height: 250px;
    color: #CCC;
  }

  footer a {
    color: #CCC;
  }

  .footer-container {
    text-align: center;
  }

  .page-foot .btm-bar {
    background-color: #551a8b
  }

  .page-foot .btm-bar  {
    padding: 2em 3em;
  }

  .footer-container > li {
    display: inline-block;
  }

  footer a:hover {
    opacity: .5;
  }

  .page-foot {
    background-color: #551a8b;
    text-align: center;
  }

  .btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2);
    position: relative;
  }

  .foot .fa-linkedin:before {
    content: "\f0e1";
    font-size: 1.7em;
  }

  .btn-github {
    color: #444;
    background-color: #fff;
    border-color: rgba(0,0,0,0.2);
    position: relative;
    font-size: 12px;
  }

  #github {
    padding-top: 3px;
  }

  .foot li {
    list-style: none;
  }

  .foot .fa-github:before {
    content: "\f09b";
    font-size: 1.9em;
  }

  #email {
    font-size: 13px;
  }

  a#top {
    font-size: 12px;
  }

  a#top:hover {
    color: #d9f0ee;
  }

@media only screen and (max-width:900px) {
  #intro {
    width:60%;
  }
}
